extends layout

block content
    h1 Registrar Usuario
    form(method='POST', action='/users/register')
        #form-group
            label Nombre:
            input.form-control(name='name',type='text')
        #form-group
            label Email:
            input.form-control(name='email',type='text')
        #form-group
            label Nombre de usuario:
            input.form-control(name='username', type='text')
        #form-group
            label Contraseña:
            input.form-control(name='password', type='password')
        #form-group
            label Confirmar contraseña:
            input.form-control(name='password2', type='password')
        br
        input.btn.btn-primary(type='submit', value='Guardar')